.btn {
  border: 1px solid transparent;
  border-radius: 50rem;
  color: white;
  cursor: pointer;
  outline: none;
  //width: 100%;
  &.rectangle {
    border-radius: 0;
  }
  &.circle {
    border-radius: 50%;
  }
  &-black {
    @include button-color(--black)
  }
  &-default {
    @include button-color(--warm-grey)
  }
  &-green {
    @include button-color(--green)
  }
  &-red {
    @include button-color(--lipstick-red)
  }
  &-blue {
    @include button-color(--cobalt-blue)
  }

  &-transparent {
    width: auto;
    background-color: transparent;
    border: none;
    box-shadow: none;
    &:hover {
      background-color: transparent;
      border: none;
    }
    &:focus {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  }
  @include button-sizes;
}