.form-container {
  border-radius: 5px;
  box-shadow: 0 2px 0 0 var(--pale-grey-three);
  border: solid 1px var(--white-two);
  @include media-breakpoint-down(sm) {
    box-shadow: none;
    border: none;
  }
}