.modal-success {
  .success-image {
    width: 24px;
    height: 24px;
  }
  .success-title {
    font-size: 26px;
    margin-top: 20px;
  }
  .success-sub-title {
    font-size: 16px;
  }
  button {
    margin-top: 20px;
  }
}
.modal-alert {
  .alert-image {
    width: 24px;
    height: 24px;
  }
  .alert-title {
    font-size: 26px;
    margin-top: 20px;
  }
  .alert-sub-title {
    font-size: 16px;
  }
  button {
    margin-top: 20px;
  }
}
.modal-confirm {
  .confirm-title {
    font-size: 26px;
    margin-top: 20px;
  }
  .confirm-sub-title {
    font-size: 16px;
  }
  button {
    margin-top: 20px;
  }
}
