.modal-alert {
  .success-image {
    width: 24px;
    height: 24px;
  }
  .alert-title {
    font-size: 26px;
    margin-top: 20px;
  }
  .alert-sub-title {
    font-size: 16px;
  }
  button {
    margin-top: 20px;
  }
  .modal-content {
    padding: 20px;
  }
}