.app-header {
  height: $header-height;
  width: 100%;
  border: 1px solid var(--white-two);
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  @include media-breakpoint-down(sm) {
    height: $mobile-header-height;
  }

  .logo {
    width: $sidebar-width;
    height: $header-height;
    border-right: 1px solid var(--white-two);
    display: flex;
    align-items: center;
    a {
      margin: 0 auto;
    }

    @include media-breakpoint-down(sm) {
      width: $mobile-sidebar-width;
      height: $mobile-header-height;
    }
    img {
      width: $dashboard-logo-height;
      @include media-breakpoint-down(sm) {
        width: $mobile-dashboard-logo-height;
      }
    }
  }

  .account-dropdown {
    float: right;
    &__photo {}
  }
}
