.app-sidebar {
  height: calc(100vh - #{$header-height} - 3px);
  width: $sidebar-width;
  border-right: 1px solid var(--white-two);
  border-left: 1px solid var(--white-two);
  border-bottom: 1px solid var(--white-two);
  background-color: white;
  position: absolute;
  top: calc(#{$header-height} + 2px);
  left: 0;

  @include media-breakpoint-down(sm) {
    height: initial;
    width: $mobile-sidebar-width;
    top: calc(#{$mobile-header-height} + 2px);
  }

  a.nav-link {
    height: $sidebar-item-height;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #7e7e7e;

    @include media-breakpoint-down(sm) {
      height: $mobile-sidebar-item-height;
    }

    i {
      margin: auto;
      font-size: 2rem;
    }

    &.router-link-exact-active, &:hover {
      color: var(--cobalt-blue);
      border-right: 2px solid var(--cobalt-blue);
    }
  }

  &__top {
    .nav-link {
      border-bottom: 1px solid var(--white-two);
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: $sidebar-width;
    @include media-breakpoint-down(sm) {
      position: relative;
      width: $mobile-sidebar-width;
    }

    .nav-link {
      border-top: 1px solid var(--white-two);
    }
  }
}
