#page_404 {
  position: relative;
  padding: 100px 10px;
  text-align: center;

  h1 {
    font-size: 133px;
    color: var(--lipstick-red);
    margin: 0;
  }

  h2 {
    font-size: 48px;
    color: var(--lipstick-red);
    margin: 0;
  }

  p {
    max-width: 666px;
    margin: 30px auto 0 auto;
    font-size: 18px;
    color: var(--brownish-grey);
  }

  button {
    max-width: 350px;
    margin-top: 25px;
  }
}