#page_summary {
  margin-top: 100px;
  .title {
    color: var(--lipstick-red);
  }
  .sub-title {
    color: var(--warm-grey-two);
  }

  .card-list {
    display: flex;
    margin: 0 -20px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin: 0;
    }
    .card {
      margin: 50px 20px 0 20px;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        margin: 50px 0 0 0;
      }
      &-header {
        img.icon {
          margin-right: 15px;
        }
      }
    }
  }

  ul {
    margin-bottom: 80px;
    list-style-image: url("../image/icon/arrow-right-active.svg");
    li {
      height: 60px;
      color: var(--warm-grey-two);
      &:before {

      }
    }
  }

  button.btn {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
  }
}