@font-face {
    font-family: 'Apercu'; /*a name to be used later*/
    font-weight: 700;
    src: url('apercu_medium.otf'),
    url('apercu_medium.woff2') format('woff2'),
    url('apercu_medium.woff') format('woff'),
    url('apercu_medium.ttf')  format('truetype'),
    url('apercu_medium.otf#apercu_medium') format('svg');
}

@font-face {
    font-family: 'Apercu'; /*a name to be used later*/
    src: url('apercu_regular.otf'),
    url('apercu_regular.woff2') format('woff2'),
    url('apercu_regular.woff') format('woff'),
    url('apercu_regular.ttf')  format('truetype'),
    url('apercu_regular.otf#apercu_regular') format('svg');
}

@font-face {
    font-family: 'Apercu'; /*a name to be used later*/
    font-weight: bold;
    src: url('apercu-bold-pro.eot'),
    url('apercu-bold-pro.woff2') format('woff2'),
    url('apercu-bold-pro.woff') format('woff'),
    url('apercu-bold-pro.ttf')  format('truetype')
}