@font-face {
    font-family: Apercu;
    src: local(Apercu-LightItalic),
    url(Apercu-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: Apercu;
    src: local(Apercu-Regular),
    url(Apercu-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: Apercu;
    src: local(Apercu-Medium),
    url(Apercu-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
