#page_login {
  position: relative;
  .logo {
    width: 207px;
    height: 50px;
  }
  .form-container {
    max-width: 611px;
    min-height: 611px;
    width: 100%;
    margin-top: 100px; //calc(50vh - 306px);
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
  .login-form {
    background-color: white;
    padding: 50px 67px;
    height: calc(100% - 100px);

    &__header-line {
      height: 1px;
      border-bottom: 1px solid #f0eff2;
      margin-left: -67px;
      margin-right: -67px;
      object-fit: contain;
      margin-top: 38px;
    }

    h1.title {
      color: var(--lipstick-red);
      font-size: 36px;
      margin-top: 37px;
      font-weight: normal;
    }

    div.email {
      margin-top: 55px;
    }

    div.password {
      margin-top: 48px;
    }

    input {
      font-size: 21px;
    }

    .input-icon {
      i {
        font-size: 24px;
      }
    }

    .input-wrapper {
      position: relative;
    }

    a.forgot-pass {
      font-size: 18px;
      color: #878787;
      position: absolute;
      right: 50px;
      top: 17px;
    }

    .btn-group {
      display: flex;
      margin-top: 45px;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        text-align: center;
      }

      button {
        letter-spacing: 0;
        font-size: 21px;
        font-weight: 500;
        height: 60px;
        padding: 0;
        width: 233px;
      }
      .signup {
        float: right;
        @include media-breakpoint-down(sm) {
          float: none;
          margin-top: 20px;
        }
      }
      .login {
        float: left;
        @include media-breakpoint-down(sm) {
          float: none;
        }
      }
    }
  }
}
