#page_signup {
  .form-container {
    max-width: 613px;
    width: 100%;
    margin: auto;
    background-color: white;

    form {
      padding: 60px;

      h1 {
        color: var(--lipstick-red);
      }
    }
  }
}
