#page_signup {
  position: relative;
  padding: 100px 0;
  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  .form-container {
    max-width: 611px;
    min-height: 611px;
    width: 100%;
    margin: 0 auto;
    background-color: white;

    form {
      padding: 50px 67px;
      @include media-breakpoint-down(sm) {
        padding: 50px 30px;
      }

      img {
        width: 207px;
        height: 50px;

        & + div {
          border-bottom: 1px solid var(--pale-grey-four);
          margin: 38px -67px 0 -67px;
          @include media-breakpoint-down(sm) {
            margin: 38px -30px 0 -30px;
          }
        }
      }

      h1 {
        color: var(--lipstick-red);
        font-size: 36px;
        margin-top: 37px;
        font-weight: normal;
      }

      .email, .password, .c-password, .buttons, .role-selector, .first-name, .last-name {
        margin-top: 52px;
      }
      .name-group {
        .first-name {
          margin-right: 15px;
        }
        .last-name {
          margin-left: 15px;
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          .first-name {
            margin-right: 0;
          }
          .last-name {
            margin-left: 0;
          }
        }
      }
      .role-selector {
        justify-content: space-around;
        color: rgba(104, 104, 104, 0.7);
        font-size: 21px;
        label {
          margin-left: 5px;
        }
      }
      .buttons {
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          text-align: center;
        }

        & > div {
          flex: 1;
          
          &:first-child {
            float: left;
            @include media-breakpoint-down(sm) {
              float: none;
            }
          }
          &:last-child {
            float: right;
            @include media-breakpoint-down(sm) {
              float: none;
              margin-top: 20px;
            }
          }
          button {
            letter-spacing: 0;
            font-size: 21px;
            font-weight: 500;
            height: 60px;
            padding: 0;
            width: 233px;
          }
        }
      }
    }
  }
}
