#page_signup {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }

  .form-container {
    max-width: 611px;
    min-height: 611px;
    width: 100%;
    margin: 0 auto;
    background-color: white;

    form {
      padding: 50px 67px;

      img {
        width: 207px;
        height: 50px;

        & + div {
          border-bottom: 1px solid #f0eff2;
          margin-left: -67px;
          margin-right: -67px;
          -o-object-fit: contain;
          object-fit: contain;
          margin-top: 38px;
        }
      }

      h1 {
        color: var(--lipstick-red);
        font-size: 36px;
        margin-top: 37px;
        font-weight: normal;
      }

      .first_name {
        margin-top: 62px;
      }
      .last_name, .email, .password, .buttons {
        margin-top: 52px;
      }
      .buttons {
        & > div {
          width: 50%;
          &:first-child {
            margin-right: 6px;
          }
          &:last-child {
            margin-left: 6px;
          }
          button {
            width: 100%;
            padding-top: 18px;
            padding-bottom: 17px;
            font-size: 21px;
            font-weight: 500;
            letter-spacing: -0.1px;
          }
        }
      }
    }
  }
}
