#page_companies {
}

#page_company_create {
  .company-create__header {
    color: var(--lipstick-red);
    margin: 48px 0 12px;
    font-size: 34px;
  }
  .company-create__description {
    margin: 24px 0 12px;
  }
  .form-element {
    margin-bottom: 1rem;
  }
}

#page_companies_detail {
  .company-detail__header {
    color: var(--lipstick-red);
    margin: 48px 0 12px;
    font-size: 34px;
  }
  .company-detail__description {
    margin: 24px 0 12px;
  }
  .form-element {
    margin-bottom: 1rem;
  }
}