#page_companies {
}

#page_company_create {
  margin: 0 auto;
  max-width: 1200px;

  .content {
    background-color: white;
    padding: 50px 40px;
    margin-top: 50px;
  }

  .company-create__header {
    color: var(--lipstick-red);
    font-size: 34px;
  }
  .company-create__description {
    margin-top: 50px;
  }
  .company-create__photo {
    flex: 1;
    margin-right: 20px;

    .image-wrapper {
      margin: 0 auto;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background: white;
      border: 1px solid #c5c5c5;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }

      input {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
      .spinner-grow {
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 1;
      }
    }
  }
}

#page_company_detail {
  .company-detail__edit {
    position: absolute;
    right: 30px;
    top: 0;
    a {
      color: black;
    }
  }
  .company-detail__header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    };

    &__photo {
      width: 112px;
      height: 112px;
      border-radius: 50%;
      background: var(--white-two);
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &__description {
      margin-left: 20px;
      flex: 1;
      input {
        border: none;
        border-bottom: 1px solid;
        background: transparent;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      .fullName {
        font-size: 30px;
        color: var(--lipstick-red)
      }
      .profession {
        font-size: 20px;
        color: var(--black)
      }
    }
  }
  button.upload {
    display: flex;
    align-items: center;
  }
  .question-input {
    display: inline-block;
    width: calc(100% - 15px);
  }
  textarea {
    height: 100%;
  }
}

#page_company_edit {
  margin: 0 auto;
  max-width: 1200px;

  .content {
    background-color: white;
    padding: 50px 40px;
    margin-top: 50px;
  }

  .company-edit__header {
    color: var(--lipstick-red);
    font-size: 34px;
  }
  .company-edit__description {
    margin-top: 50px;
  }

  .company-edit__photo {
    flex: 1;
    margin-right: 20px;

    .image-wrapper {
      margin: 0 auto;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background: white;
      border: 1px solid #c5c5c5;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }

      input {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
      .spinner-grow {
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 1;
      }
    }
  }
}
