#page_dashboard {
  .card {
    margin-top: 40px;

    h2 {
      font-size: 20px;
    }
  }

  li {
    cursor: pointer;
    min-height: 77px;
  }
}

#adjust_dashboard {
  .modal-header {
    padding: 32px;
    align-items: center;
    h2 {
      font-size: 32px;
      margin: 0;
      color: var(--lipstick-red);
    }
    button {
      font-size: 16px;
      padding: 6px 12px;
      width: auto;
      background-color: var(--cobalt-blue);
      color: white;
    }
  }
  .modal-body {
    padding: 32px;

    .custom-list {
      .content {
        flex: 1;
      }
    }
  }
  .modal-footer {
    padding: 32px;
    button {
      padding: 6px 12px;
      width: auto;
    }
  }
}
