#page_jobs_choose_candidate {
  margin-top: 100px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#page_jobs_select_candidate {
  margin-top: 100px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .search-form {
    width: 480px;
    margin: 0 auto;
    position: relative;

    ul.search-result {
      top: 52px;
      list-style: none;
      padding: 0;
      box-shadow: 0 2px 0 0 #ebecf0;
      max-height: 250px;
      width: 100%;
      overflow-y: scroll;
      z-index: 100;
      position: absolute;

      li {
        border: solid 1px #ececec;
        background-color: #ffffff;
        padding: 10px 10px;
        cursor: pointer;

        &:hover {
          background-color: #ebecf0;
        }

        img {
          width: 60px;
        }
      }
    }
  }

  button {
    margin-top: 270px;
  }
}
