#page_job_offer_details {
  .matching-list {
    .matching-item {
      padding: 30px;
      background-color: white;

      .up {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: solid 1px var(--pale-grey-three);

        & > * {
          margin: 0 5px;
        }

        .icon-group {
          display: flex;

          .icon {
            display: inline-flex;
            width: 40px;
            height: 40px;
            margin: 5px;
            background-color: var(--cobalt-blue);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .down {
        display: flex;
        align-items: center;
        padding-top: 20px;

        ul {
          li {
            float: left;

            &:not(:last-child) {
              padding-right: 40px;
            }
          }
        }
      }
    }
  }

  .info-card {
    padding: 45px;
    background-color: white;

    .title {
      color: var(--greyish-brown);
    }

    .body {
      margin: 20px 0;
      display: flex;
      align-items: center;

      .icon {
        width: 40px;
        height: 40px;
        background-color: var(--lipstick-red);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .caption {
        margin-left: 10px;
        color: var(--lipstick-red);
        display: flex;
        align-items: flex-end;

        .number {
          font-size: 2em;
          line-height: 1;
        }
      }
    }
  }

  .contract-status {
    color: #464646;
  }

  .contract-specifications, .contract-files {
    .card-header {
      input[type=file] {
        visibility: hidden;
      }
    }

    .card-body {
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: solid 1px var(--white-two);

        & > div {
          width: 50%;
        }
      }
    }
  }

}

.modal-sign-contract {
  .modal-body {
    padding: 2rem;

    .sign-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      border-bottom: 1px solid #ced4da;

      & > div:last-child {
        width: 50%;
        .custom-select {
          height: 36px;
        }
      }
    }
  }
}

.modal-validate-contract {
  .modal-body {
    padding: 2rem;
  }
}
