#page_jobs_choose_candidate {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;

  .content {
    background-color: white;
    padding: 50px 40px;
    margin-top: 50px;
  }
}

#page_jobs_select_candidate {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;

  .content {
    background-color: white;
    padding: 50px 40px;
    margin-top: 50px;
  }

  .select-form {
    width: 480px;
    margin: 0 auto;
    position: relative;
    text-align: left;

    .search-worker {
      position: relative;
    }

    ul.search-result {
      top: 85px;
      list-style: none;
      padding: 0;
      box-shadow: 0 2px 0 0 #ebecf0;
      max-height: 250px;
      width: 100%;
      overflow-y: scroll;
      z-index: 100;
      position: absolute;

      li {
        border: solid 1px #ececec;
        background-color: #ffffff;
        padding: 10px 10px;
        cursor: pointer;

        &:hover {
          background-color: #ebecf0;
        }

        img {
          width: 60px;
        }
      }
    }
  }

  button {
    margin-top: 200px;
  }
}
