#page_matching {
  .matching-list {
    .matching-item {
      padding: 30px;
      background-color: white;
      display: flex;
      align-items: center;

      & > *:not(img) {
        flex: 1;
      }

      &.header {
        font-weight: 500;
      }

      &:not(:last-child) {
        border-bottom: solid 1px #ececec;
      }

      .red {
        color: var(--lipstick-red);
      }
      .underline {
        text-decoration: underline;
      }
    }
  }
}