#page_profile {
  .profile-edit {
    position: absolute;
    right: 30px;
    top: 0;
    a {
      color: black;
    }
  }
  .profile-header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @include media-breakpoint-down(sm) {
     flex-direction: column;
    };

    &__photo {
      width: 112px;
      height: 112px;
      border-radius: 50%;
      border: 1px solid var(--pale-grey-two);
      background: var(--white-two);
      overflow: hidden;
      img {
       width: 100%;
      }
    }
    &__description {
      margin-left: 20px;
      .fullName {
        font-size: 40px;
        color: var(--lipstick-red)
      }
      .profession {
        font-size: 20px;
        color: var(--black)
      }
    }
  }
  button.upload {
    display: flex;
    align-items: center;
  }
}
