.color-blue {
  color: var(--cobalt-blue);
}
.color-red {
  color: var(--lipstick-red);
}
.color-yellow {
  color: var(--yellow);
}

.color-cobalt {
  background-color: var(--cobalt-blue);
}

.color-black {
  color: black;
}

.color-gray {
  color: var(--warm-grey-two);
}
.color-green {
  color: var(--warm-green);
}
