html,
body {
  margin: 0;
  font-family: Apercu;
  font-size: 16px;
}

.d-flex {
  display: flex;
  &.responsive {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    };
  }
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.container {
  width: initial !important;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.hidden {
  display: none;
}

.align-items-center {
  align-items: center;
}

.pointer {
  cursor: pointer;
}

a {
  color: var(--black);
  &:hover {
    color: var(--lipstick-red);
  }
}
ul.custom-list {
  margin: 0;
  list-style: none;
  padding: 0;
  li {
    &:not(:last-child) {
      border-bottom: 1px solid var(--white-two);
    }
    padding: 14px 0;
  }
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1.5rem 1rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: var(--green);
  border-color: var(--green);
  background-color: var(--green);
}

.dropdown-menu:focus {
  outline: none;
}
.dropdown-item:focus {
  outline: none;
}

.back {
  display: flex;
  align-items: center;
  color: black;
  font-size: 20px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  i {
    font-size: 1.25em;
  }
  span {
    line-height: 1;
  }
}

hr {
  border-top: 1px solid var(--white-two);
  margin: 1rem 0 1.5rem 0;
}

.avatar-placeholder {
  background: var(--white-two);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
