html,
body {
  margin: 0;
  font-family: Apercu;
  font-size: 16px;
}

.d-flex {
  display: flex;

  &.responsive {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  ;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.container {
  width: initial !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hidden {
  display: none;
}

.align-items-center {
  align-items: center;
}

.pointer {
  cursor: pointer;
}

a {
  color: var(--black);

  &:hover {
    color: var(--lipstick-red);
  }
}

ul.custom-list {
  margin: 0;
  list-style: none;
  padding: 0;

  li {
    &:not(:last-child) {
      border-bottom: 1px solid var(--white-two);
    }

    padding: 14px 0;
  }

  &.interaction {
    li {
      &:hover {
        background-color: var(--pale-grey-two);
        cursor: pointer;
      }
    }
  }
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1.5rem 1rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: var(--green);
  border-color: var(--green);
  background-color: var(--green);
}

.dropdown-menu:focus {
  outline: none;
}

.dropdown-item:focus {
  outline: none;
}

.dropdown-menu li {
  padding: 0 !important;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.dropdown-item {
  color: black;

  &:hover {
    color: var(--cobalt-blue);
  }
}

.back {
  display: flex;
  align-items: center;
  color: black;
  font-size: 20px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  i {
    font-size: 1.25em;
  }

  span {
    line-height: 1;
  }
}

hr {
  border-top: 1px solid var(--white-two);
  margin: 1rem 0 1.5rem 0;
}

.avatar-image {
  background: var(--white-two);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  display: flex;

  &.size-65 {
    width: 65px;
    height: 65px;
  }

  &.size-112 {
    width: 112px;
    height: 112px;
  }


  img {
    width: 100%;
  }
}

.view-switch {
  min-width: fit-content;
}

.cursor-copy {
  cursor: copy !important;
}

.cursor-pointer {
  cursor: copy !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.min-btn-160 {
  min-width: 160px;
}

.min-btn-260 {
  min-width: 260px;
}

.min-btn-240 {
  min-width: 240px;
}

.btn-50 {
  width: 50px;
}

.input-175 {
  width: 175px;
}

.input-200 {
  width: 200px;
}

.input-150 {
  width: 150px;
}

.input-60 {
  width: 60px;
}

.mr-0-5 {
  margin-right: 0.5rem;
}

.mr-20 {
  margin-right: 20px;
}

.m-0-25 {
  margin: 0.25rem 0
}


.upload:hover {
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("~@/assets/image/icon/upload.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
    z-index: 1;
  }
}
