@mixin button-sizes {
  &.x-small {
    height: 20px;
    font-size: $font-size-x-small;
  }
  &.small {
    height: 25px;
    font-size: $font-size-small;
  }
  &.medium {
    height: 30px;
    font-size: $font-size-medium;
  }
  &.large {
    height: 50px;
    font-size: $font-size-large;
  }
  &.x-large {
    height: 60px;
    font-size: $font-size-x-large;
  }
}

@mixin button-color($color) {
  background-color: var($color);
  border-color: var($color);

  &:hover {
    background-color: white;
    color: var($color);
  }
}