:root {
  --light-periwinkle: #dbdde0;
  --lipstick-red: #c9002a;
  --cobalt-blue: #08009d;
  --pale-grey: #f5f7fb;
  --pale-grey-two: #eff1f6;
}

$enable-grid-classes: true !default;

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;